.colorBlueFONT {
  color: #778beb;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
}
@media (min-width: 900px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  * {
    margin: 0px;
    padding: 0px;
  }
}
