.Footer {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
}
.fab {
  color: black;
  margin: 10px;
}
.footerOne {
  color: black;
}
.footerTwo {
  color: black;
}

@media (max-width: 900px) {
  .Footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: #303952;
    align-items: center;

    justify-content: space-around;
  }
}
