.mainDetails {
  display: flex;
  height: 700px;
  flex-direction: row;
}
.firstDetails {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #778beb;
  align-items: center;
}
.btndet {
  background-color: #778beb !important;
}
.makeFlexStart {
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
}

.makeFlexStart > p {
  margin: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.secondDetails {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.deth {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}
.detp {
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}
.btn-quotations {
  background-color: #778beb;
  color: #fff;
}
.classimgDet {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .mainDetails {
    display: flex;
    height: 1103px;
    flex-direction: column;
  }
  .firstDetails {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #778beb;
    margin-top: 175px;
  }
  .secondDetails {
    flex: 0.8 1;
    display: flex;
    flex-direction: column;
  }
  .makeFlexStart {
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
  }
  .makeFlexStart > p {
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  .classimgDet {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .detp {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .deth {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
  }
}
