.mainVideo {
  display: flex;
  flex-direction: column;
}

.vidStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: translate(-50%, -50%);
  z-index: -1; */
}
.vidDEta {
  display: flex;
  flex-direction: column;
  background-color: #34495e;
  padding: 40px;
}
.h1Vid {
  color: #fff;
  font-size: 23px;
}
.pVid {
  color: #fff;
  font-size: 15px;
}
@media (min-width: 908px) {
  .h1Vid {
    color: #fff;
    font-size: 25px;
  }
  .pVid {
    color: #fff;
  }
}
